html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 14px/16px "Arial ", sans-serif;
}

.wrap{
    max-width: 1200px;
    margin: 30px auto 0 auto;
    padding: 0 15px;
}

.text-output, .text-input {
    width: 100%;
    padding: 20px 10px;
    border-radius: 4px;
}

.text-output {
    min-height: 200px;
    background-color: #f1f1f1;
    color: #737373;
    border: 1px solid rgb(169, 169, 169);
    font-weight: normal;
    margin: 10px 0;
    height: 250px;
    overflow: auto;
}

.error-message {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.success-message {
    color: green;
    font-weight: bold;
}

textarea.text-input{
    margin: 10px 0;
    resize: vertical;
    height: 250px;
}

::-webkit-input-placeholder{ font: 14px/16px "Arial ", sans-serif;}
::-moz-placeholder{ font: 14px/16px "Arial ", sans-serif; }
:-moz-placeholder{ font: 14px/16px "Arial ", sans-serif;}
:-ms-input-placeholder{ font: 14px/16px "Arial ", sans-serif;}



form input[type=text]{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #eeeeee;
}

form input[type=text]:focus, form input[type=submit]:focus, form button:focus{
    outline: none;
}

form input[type=submit], form button{
    width: 100%;
    max-width: 200px;
    margin: 10px 0;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #eeeeee;
    background-color: #00006b;
    color: #fff;
}

form input[type=submit]:hover, form button:hover{
    cursor: pointer;
    background-color: darkblue;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) url('../loader.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}