html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 14px/16px "Arial ", sans-serif;
}

.wrap{
    max-width: 1200px;
    margin: 30px auto 0 auto;
    padding: 0 15px;
}

.text-output, .text-input {
    width: 100%;
    padding: 20px 10px;
    border-radius: 4px;
}

.text-output {
    min-height: 60px;
    background-color: #f1f1f1;
    color: #3e3e3e;
    border: 1px solid rgb(169, 169, 169);
    font-weight: normal;
    margin: 10px 0;
    height: auto;
}

.error-message {
    color: red;
    font-weight: bold;
    font-style: italic;
    /*text-decoration: underline;*/
    border-bottom: 1px dotted red;
}

.success-message {
    color: green;
    font-weight: bold;
}

.unknown-message {
    color: #a7a7a7;
    font-style: italic;
}

textarea.text-input{
    margin: 10px 0;
    resize: vertical;
    height: 350px;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: help;
}

.tooltip-container .tooltip-text {
    visibility: hidden;
    width: auto;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 20px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 0;
}

.tooltip-container .tooltip-text span{
    display: block;
}

.tooltip-container .tooltip-text span:hover{
    color: black;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
}

::-webkit-input-placeholder{ font: 14px/16px "Arial ", sans-serif;}
::-moz-placeholder{ font: 14px/16px "Arial ", sans-serif; }
:-moz-placeholder{ font: 14px/16px "Arial ", sans-serif;}
:-ms-input-placeholder{ font: 14px/16px "Arial ", sans-serif;}



form input[type=text]{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #eeeeee;
}

input[type=text]:focus, input[type=submit]:focus, button:focus{
    outline: none;
}

input[type=submit], button{
    width: 100%;
    max-width: 200px;
    margin: 10px 0;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #eeeeee;
    background-color: #00006b;
    color: #fff;
}

form input[type=submit]:hover, form button:hover{
    cursor: pointer;
    background-color: darkblue;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) url('../loader.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/*@media (min-width: 993px){*/
    .w3-modal-content {
        width: 900px;
    }

    .w3-modal-content {
        margin: auto;
        background-color: #fff;
        position: relative;
        padding: 0;
        outline: 0;
        width: 600px;
    }
/*}*/

.w3-teal, .w3-hover-teal:hover {
    color: #fff!important;
    background-color: #00006b!important;
}
.w3-teal h2,  .w3-modal-content form{
    padding: 10px 30px;
}

.w3-button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.w3-button:hover {
    background-color: darkblue;
}

.w3-display-topright {
    position: absolute;
    right: 0;
    top: 0;
}